---
import ProjectCard from './ProjectCard.tsx'
import type { Project } from '../lib/types.ts'

const { hero, lan } = Astro.props
---

<section class="relative flex flex-col gap-6 pb-10" transition:name="cards">
	<h2 class="text-3xl font-bold pb-3 border-b border-light-border dark:border-dark-border">{ hero ? lan.projects.heroTittle : lan.projects.title }</h2>
	{ !hero && <p class="">{lan.projects.text}</p> }
	{ lan.projects.data.map((p: Project) => (
  	<ProjectCard project={p} lang={lan} client:only/>
	))}
</section>