---
import ProjectCard from '../components/ProyectCard'
import { projects } from '../lib/data.ts'

const { hero } = Astro.props
---

<section class="flex flex-col gap-6 pb-10">
	<h2 class="text-3xl font-bold pb-3 border-b border-light-borded dark:border-dark-border">{ hero ? "Last projects </>" : "Projects </>" }</h2>
	{ projects.map((p, i) => (
  	<ProjectCard project={p} client:load/>
	))}
</section>