<footer class="h-28 w-full flex flex-col gap-4 p-4 items-center justify-between border-t border-light-border dark:border-dark-border">
  <div class="flex flex-col items-center justify-center gap-2">
    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">Nahuel Lopez</a>
    <p class="text-sm">
      Built with <span class="text-brand">Astro</span> + <span class="text-brand">React</span>
    </p>
  </div>
  <p class="text-center text-xs">
    &copy 2026 NL — Digital Design & Systems
  </p>
</footer>