---
const { lan } = Astro.props
---
<footer class="w-full h-28 flex flex-col gap-4 p-4 items-center justify-between border-t border-light-border dark:border-dark-border">
  <div class="flex flex-col items-center justify-center gap-2">
    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">{lan.footer.name}</a>
    <p class="text-sm text-brand">
      {lan.footer.description}
    </p>
  </div>
  <p class="text-center text-xs">
    { lan.footer.copy }
  </p>
</footer>