---
import ProjectCard from '../components/ProyectCard'
import { projects } from '../lib/data.ts'
---
<main class="lg:pt-0 lg:max-w-4xl max-w-[100vw] mx-auto p-6 pt-10 col-span-1 row-span-1 overflow-x-hidden overflow-y-scroll hide-scrollbar">
	<section class="w-full">
		<article class="pb-12 mt-5">
			<div class="flex flex-col mb-4">
				<h3 class="text-xl font-bold text-start text-opacity-60">Hey there</h3>
				<h1 class="text-5xl font-bold text-start mb-2">I'm Nahuel Lopez</h1>
				<h2 class="text-3xl font-bold text-start text-opacity-75">Frontend Developer and Ux/Ui designer</h2>
			</div>
			<p class="py-2 break-words text-secundary-text">This Portfolio is built with Astro using React and TailwindCSS, come take a look and see some of my latest projects and ideas. Hope you enjoy and apretiate it</p>
			<div class="py-2 mt-8 flex items-center">
				<button class="rounded-lg px-6 py-3 bg-brand hover:bg-brand-hover active:bg-brand-active">Let's connect</button>
			</div>
		</article>
	</section>
	<section class="flex flex-col gap-6">
		<h2 class="text-3xl font-bold pb-3 border-b border-light-borded dark:border-dark-border">Last projects {"</>"}</h2>
		{ projects.map((p) => (
  		<ProjectCard project={p} client:load/>
		))}
	</section>
</main>