---
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Page from "./Page.astro";
import Footer from '../components/Footer.astro'

const { lan } = Astro.props
---
<main class="bg-light-bg dark:bg-dark-bg text-light-text-primary dark:text-dark-text-primary">
  <Navbar {lan}/>
  <Sidebar {lan}/>
	<Page>
		<slot/>
		<Footer {lan}/>
	</Page>
</main>

<style>
	main {
		position: relative;
		display: grid;
		grid-template-columns: 300px 1fr;
		grid-template-rows: 1fr;
		width: 100vw;
		height: 100vh;
	}

	@media (max-width: 1024px) {
		main {
			grid-template-columns: 1fr;
		}
	}
</style>